@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  display: flex;
  margin: 0px;
  gap: 12px;
  padding: 12px;
  list-style-type: none;
}
.header,
.footer {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: rgb(126, 126, 126);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer {
  background-color: rgb(216, 216, 216);
}