* {
  margin: 0;
  padding: 0;
}

p {
  margin-top: auto;
}

.container {
  display: grid;
  gap: 10px;

  grid-template-rows: 2fr 1fr 16fr 1fr;
  grid-template-columns: 1fr 4fr;
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;

  background-color: #393f4d;
  grid-column: 1 / -1;
}

.logo {
  justify-self: start;
}

.menu {
  display: grid;
  align-items: center;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul {
  display: grid;
  grid-auto-flow: column;

  list-style: none;
}

.sidebar {
  display: grid;
  gap: 50px;

  background-color: #C50208;
  grid-row: 2 / -2;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}
.sidebar div {
  display: grid;
  align-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  align-content: center;
  background-color: #C50208;
}

.nav ul {
  display: grid;
  grid-auto-flow: column;
  justify-items: space-around;
  list-style: none;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1 / -1;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}