body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin: 10px 0px;
  margin-top: 0px;
  padding: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  margin: 10px auto;
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
  
}

button {
  width: 150px;
  height: 30px;
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
}